@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Sample_Clean_Architecture.Web.Models.SuffixPrefix.SuffixPrefixModel

@{
    Layout = null;
    ViewData["ButtonTitle"] = Model.SuffixPrefix_Id > 0 ? "Update" : "Save";
 
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.SuffixPrefix_Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SuffixPrefix_Id" />
            <input type="hidden" asp-for="Company_Id" />


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SuffixPrefix_FromDate" class="control-label"></label>
                        <input asp-for="SuffixPrefix_FromDate" class="form-control  date-picker mb-0" />
                        <span asp-validation-for="SuffixPrefix_FromDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SuffixPrefix_ToDate" class="control-label"></label>
                        <input asp-for="SuffixPrefix_ToDate" class="form-control  date-picker mb-0" />
                        <span asp-validation-for="SuffixPrefix_ToDate" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VoucherType_Id" class="control-label"></label>
                        <select asp-for="VoucherType_Id" class="form-control" asp-items="@ViewBag.VoucherTypes"></select>
                        <span asp-validation-for="VoucherType_Id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SuffixPrefix_StartIndex" class="control-label"></label>
                        <input asp-for="SuffixPrefix_StartIndex" class="form-control" />
                        <span asp-validation-for="SuffixPrefix_StartIndex" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SuffixPrefix_Prefix" class="control-label"></label>
                        <input asp-for="SuffixPrefix_Prefix" class="form-control" />

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SuffixPrefix_Suffix" class="control-label"></label>
                        <input asp-for="SuffixPrefix_Suffix" class="form-control" />

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SuffixPrefix_PrefillWithCharacter" class="control-label"></label>
                        <input asp-for="SuffixPrefix_PrefillWithCharacter" class="form-control" />

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SuffixPrefix_widthOfNumericalPart" class="control-label"></label>
                        <input asp-for="SuffixPrefix_widthOfNumericalPart" class="form-control" />

                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Narration" class="control-label"></label>
                        <input asp-for="Narration" class="form-control" />

                    </div>
                </div>

            </div>


            @*<div class="form-group">
                    <div class="col-md-6 offset-md-3">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                    </div>
                </div>*@
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <label class="control-label" style="color:@Model.OprMessage.Color">@Model.OprMessage.Message</label>
                    </div>
                    <div class="col-md-2">
                        @*<input type="submit" value="Submit" class="btn btn-success btn-block" />*@
                        <button type="submit" class="btn btn-success btn-block">@ViewData["ButtonTitle"]</button>
                    </div>
                    <div class="col-md-2 text-center">
                        <input type="button" value="Close" class="btn btn-primary btn-block" onclick="jQueryAjaxCloseDialog('@Url.Action("Close","SuffixPrefix",null,Context.Request.Scheme)')" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    "use strict";

    $(document).ready(function () {
         var dateToday = new Date('2000/01/01');
        $('input[name="SuffixPrefix_FromDate"]').datepicker({
                    dateFormat: "@ViewBag.DateFormat",
                    minDate: dateToday,
                    showOtherMonths: true,
                    firstDay: 1
        });
         $('input[name="SuffixPrefix_ToDate"]').datepicker({
                    dateFormat: "@ViewBag.DateFormat",
                    minDate: dateToday,
                    showOtherMonths: true,
                    firstDay: 1
                });
        //if ($('.date-picker').length > 0) {
        //    $('.date-picker').each(function () {
        //        $(this).daterangepicker({
        //            singleDatePicker: true,
        //            showDropdowns: true,
        //            autoUpdateInput: false,
        //            locale: {
        //                format: 'DD/MM/YYYY',
        //                cancelLabel: 'Clear'
        //            }
        //        });
        //    }).on('apply.daterangepicker', function (ev, picker) {

        //        var d = picker.startDate._d;
        //        var day = d.getDate() > 9 ? d.getDate() : '0' + d.getDate();
        //        var month = d.getMonth() > 8 ? d.getMonth() + 1 : '0' + (d.getMonth() + 1);
        //        var year = d.getFullYear();

        //        $(this).val(day + '/' + month + '/' + year);
        //    });
        //}

    });
</script>